* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#all-forms > h1 {
    text-align: center;
}

#all-forms {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#all-elements {
    display: flex;
    gap: 1rem;
}

input {
    font-size: 1.5rem;
}

.general-information label,
#education label,
#practical label {
    font-size: 2rem;
}

.general-information,
#education,
#practical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.temp-div {
    display: flex;
    flex-direction: column;
}

.select-menu-gender,
.select-menu-plan {
    width: 15rem;
    font-size: 2rem;
    text-align: center;
}

.street-photo {
    width: 50rem;
    height: 82rem;
}

.general-section {
    display: flex;
}

.row1,
.row2,
.row3 {
    display: flex;
    gap: 12rem;
}

#all-forms > h1 {
    font-size: 3rem;
}

.photo > p {
    position: absolute;
    bottom: -350px;
    left: 250px;
    color: white;
    text-shadow: 2rem;
}

.photo > p > a {
    color: white;
}

.photo > p > a:visited {
    text-decoration: none;
}

.photo > p > a:hover {
    color: rgb(234, 125, 71);
}

.general-information,
#education,
#practical {
    background-color: rgb(241, 185, 116);
    padding: 2rem;
    border-radius: 2rem;
}