* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#all-forms > h1 {
    text-align: center;
}

.elements {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#all-forms {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#all-elements {
    display: flex;
    gap: 1rem;
}

input {
    font-size: 1.5rem;
}

.general-information label,
#education label,
#practical label {
    font-size: 2rem;
}

.general-information,
#education,
#practical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.temp-div {
    display: flex;
    flex-direction: column;
}

.select-menu-gender,
.select-menu-plan {
    width: 15rem;
    font-size: 2rem;
    text-align: center;
}

.street-photo {
    width: 50rem;
    height: 90rem;
}

.general-section {
    display: flex;
}

.row1,
.row2,
.row3 {
    display: flex;
    gap: 12rem;
}

#all-forms > h1 {
    font-size: 3rem;
}

.photo > p {
    position: absolute;
    bottom: -490px;
    left: 250px;
    color: white;
    text-shadow: 2rem;
}

.photo > p > a {
    color: white;
}

.photo > p > a:visited {
    text-decoration: none;
}

.photo > p > a:hover {
    color: rgb(234, 125, 71);
}

.general-information,
#education,
#practical {
    background-color: rgb(241, 185, 116);
    padding: 2rem;
    border-radius: 2rem;
}

#submit-btn {
    font-size: 3rem;
    padding: 0.5rem;
    margin-bottom: 2rem;
    background-color: whitesmoke;
    transition: transform .2s ease-in-out;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: rgb(27, 27, 239);
    color: white;
}

#submit-btn:hover {
    border: 2px solid rgb(27, 27, 239);
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(27, 27, 239);
    background-color: white;
}

table {
    border: 2px solid black;
    margin: 1rem;
    background-color: black;
    color: white;
}

td,
th {
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    background-color: grey;
}

#every-element {
    display: flex;
    flex-direction: column;
}

thead {
    border: 2px solid black;
}

#edit-btn {
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    background-color: whitesmoke;
    border: none;
    transition: transform .2s ease-in-out;
    border-radius: 0.75rem;
    background-color: rgb(114, 114, 249);
    color: white;
}

#edit-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(114, 114, 249);
    background-color: white;
}